/*********************************************
 * SLIDE NUMBER
 *********************************************/

.reveal .slide-number {
    position: fixed;
    display: block;
    right: 8px;
    bottom: 8px;
    z-index: 31;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.reveal .slide-number-delimiter {
    margin: 0 3px;
}

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.0);
    border: 0px solid #000;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}

.reveal .controls {
    display: none;
    position: absolute;
    top: auto;
    bottom: 12px;
    left: 100px;
    right: auto;
}

/** adopt code size for presentations if required  **/

.reveal pre code {
    max-height: 100%;
    font-size: 1.3em;
    line-height: 1.3;
    width: 100% ;
    font-weight: bold;
    border: 0px solid rgb(247, 239, 215);
    box-shadow: none;
  }

.reveal pre  {
    box-shadow: none;
}
  

/* list alignments */

.reveal ul {
    display: left;
  }

  .reveal ol {
    display: left;
  }

  div.dlist {
    text-align: left !important;
  }
